.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.main-section {
    grid-column: span 4;
    margin: 0px;
    padding: 120px 80px;
    background-image: url("../../store/mainBG.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title-div {
    display: flex;
}

.main-title-text {
    width: 40%;
}

.dashboad-button {
    width: 60%;
    text-align: right;
}

.main-section > h1 {
    font-size: 45px;
    justify-content: center;
}

.side-nav {
    width: 30%;
    background-image: url("../../store/sideNavBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage_title {
    color: #fff;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 30px;
    font-weight: 300;
}

.bottom-section {
    padding: 80px;
}

.bottom-section,
h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.side-nav-img {
    width: 30%;
}

.tour-info {
    margin-left: 5%;
    display: flex;
    width: 60%;
}

.tour {
    margin: 0px 20px;
    cursor: pointer;
}

.tour-button {
    text-decoration: none;
    background-color: #1a191940;
    border: none;
    color: white;
    padding: 16px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    opacity: 0.9;
    border-radius: 5px;
}

.tour-button:hover {
    cursor: pointer;
    opacity: 1;
}

.search-field-card {
    background-color: #fff;
    display: flex;
    height: 40px;
    padding: 2px;
    border-radius: 4px;
    width: max-content;
}

.search-field {
    width: 400px;
    border: none;
}

.search-field:focus {
    outline: none;
}

.search-field-arrow-right {
    margin: 10px;
    color: #747474;
}

.search-button {
    display: inline;
    background-color: #5cce92;
}

.search-button:hover {
    cursor: pointer;
}

.icon-search {
    margin: 10px;
    color: #fff;
}
.icon-AngleRight {
    margin-left: 5px;
}
