* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: #d8d3d3;
  height: 100vh;
}
.HomePageImg {
  margin: 0px;
  padding: 0px;
  background-image: url("https://pics.freeartbackgrounds.com/fullhd/Beautiful_Sunset_Background-798.jpg");
  height: 550px;
  background-position: center;
}
